/* line 5, ../../app/sass/style.scss */
[data-pseudo-content]::before,
[data-pseudo-content--before]::before,
[data-pseudo-content--after]::after {
  content: attr(data-pseudo-content);
}

/* line 11, ../../app/sass/style.scss */
body {
  background-color: #000000;
}

/* line 17, ../../app/sass/style.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #000000;
}

/* line 22, ../../app/sass/style.scss */
.container {
  background-color: #f8f8f8;
}

/* line 26, ../../app/sass/style.scss */
.headercontainer {
  padding-left: 0;
  padding-right: 0;
}

/* line 31, ../../app/sass/style.scss */
.footercontainer {
  background-color: #333;
  color: #aaa;
}

/* line 36, ../../app/sass/style.scss */
p, h1, h2, h3, h4, h5, h6, li, nav a {
  font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
  text-rendering: optimizelegibility;
}

/* line 41, ../../app/sass/style.scss */
h1 {
  font-size: 3em;
  line-height: 1.2em;
}
/* line 45, ../../app/sass/style.scss */
h1 a {
  text-decoration: none;
}

/* line 50, ../../app/sass/style.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 55, ../../app/sass/style.scss */
p, li {
  font-size: 1.4em;
  line-height: 1.5em;
}
/* line 59, ../../app/sass/style.scss */
p li, li li {
  font-size: 100%;
}
/* line 62, ../../app/sass/style.scss */
p li li, li li li {
  font-size: 100%;
}

/* line 69, ../../app/sass/style.scss */
p.date {
  color: #aaa;
}

/* line 74, ../../app/sass/style.scss */
div {
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* line 78, ../../app/sass/style.scss */
code {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
}

/* line 84, ../../app/sass/style.scss */
pre {
  padding: 0;
  margin-bottom: 0;
  overflow-x: auto;
}
/* line 89, ../../app/sass/style.scss */
pre code {
  display: block;
  overflow-wrap: normal;
  word-wrap: normal;
  white-space: pre;
  font-family: Menlo, Monaco, "Andale Mono", "Ubuntu Mono", "lucida console", monospace;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 96, ../../app/sass/style.scss */
pre code.hljs {
  padding-right: 10px;
}

/* line 102, ../../app/sass/style.scss */
img {
  max-width: 100%;
  border: 1px solid #707070;
  padding: 5px;
  background-color: #efefef;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 110, ../../app/sass/style.scss */
a {
  background-color: #5bc0de;
  transition: color 0.3s;
}

/* line 117, ../../app/sass/style.scss */
blockquote {
  font-style: italic;
  border-left: 2px solid #cfcfcf;
}
/* line 121, ../../app/sass/style.scss */
blockquote p {
  font-size: 2.2em;
}

/* line 126, ../../app/sass/style.scss */
article.post {
  margin-bottom: 50px;
  border-bottom: 1px dotted #e0e0e0;
}
/* line 131, ../../app/sass/style.scss */
article.post h1 {
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* line 136, ../../app/sass/style.scss */
article.post h2 {
  padding-top: 0.8em;
  border-top: 1px dotted #e0e0e0;
}

/* line 142, ../../app/sass/style.scss */
ul.categorylist {
  padding-left: 0px;
  margin-bottom: 20px;
}
/* line 146, ../../app/sass/style.scss */
ul.categorylist li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

/* line 154, ../../app/sass/style.scss */
ul.pager li a {
  background-color: inherit;
  border: 0;
}

/* line 160, ../../app/sass/style.scss */
div.navbar-header {
  width: 100%;
}

/* line 164, ../../app/sass/style.scss */
a#github-image img {
  width: 50%;
  display: block;
  text-align: center;
}

/* line 170, ../../app/sass/style.scss */
ul#github-repos {
  padding-left: 0;
}
/* line 173, ../../app/sass/style.scss */
ul#github-repos li {
  list-style-type: none;
}
/* line 176, ../../app/sass/style.scss */
ul#github-repos li p {
  font-size: 100%;
}

/* line 182, ../../app/sass/style.scss */
p.copyright {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

/* line 188, ../../app/sass/style.scss */
ul.searchresults {
  display: none;
  width: 200px;
  background-color: #f8f8f8;
  font-size: 10px;
  list-style-type: none;
  padding-left: 0;
  overflow-y: overlay;
  z-index: 9999;
  position: absolute;
  border: 1px solid #cfcfcf;
}
/* line 200, ../../app/sass/style.scss */
ul.searchresults li {
  border-bottom: 1px solid #cfcfcf;
}
/* line 203, ../../app/sass/style.scss */
ul.searchresults li a {
  padding: 5px;
  display: block;
  color: #000000;
  text-decoration: none;
}
/* line 209, ../../app/sass/style.scss */
ul.searchresults li a:hover {
  background-color: #cfcfcf;
}

/* line 216, ../../app/sass/style.scss */
.jumbotron {
  margin-bottom: 0;
  background-color: #333;
  border-radius: 0 !important;
}
/* line 221, ../../app/sass/style.scss */
.jumbotron h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}
/* line 225, ../../app/sass/style.scss */
.jumbotron h1 a {
  color: #f2f2f2;
}
/* line 230, ../../app/sass/style.scss */
.jumbotron h2 {
  font-size: 1em;
  color: #aaa;
}

/* line 236, ../../app/sass/style.scss */
.linenos {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  float: left;
  background-color: grey;
  color: #d1d9e1;
  width: 30px;
  text-align: center;
  margin-right: 10px;
}

/* line 246, ../../app/sass/style.scss */
.hljs {
  padding: 0;
}
/* line 249, ../../app/sass/style.scss */
.hljs.singleline {
  padding: 10px;
}
